*{
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;


}
body {
    width: 100%;
}
/* header-start  */
.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center; 
    position: fixed;
        width: 100%;  
        top: 0;
    z-index: 9999999999999999999999999;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.2);
    overflow: hidden;
    transition: 0.5s;
    background: white;
}
.header__contain{
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
ul{
    display: flex;
}
.header_nav ul li{
    transition: 0.3s;
    padding: 33px 16px ;
    list-style: none;
}
.header_nav li a {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 600; 
}
.header_nav li a span{
    line-height: 20px;
    display: inline-block;
}
.header_nav li:hover{
    cursor: pointer;
}
.header_nav li:hover a span  {
   animation-name: upToDown;
   animation-duration: 0.5s;
   color: #f55f8d;
   cursor: pointer;
}
.header_nav li:hover a i{
   color: #f55f8d;
}
.header_nav li a i{
    font-size: 9px;
}
.header .btn{
    margin-left: 20px;
}
.btn {
    padding: 20px 35px;
    border-radius: 30px;
    border-width: 1px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-position: left bottom;
    background-size: 200%;
    transition: 0.5s;
}
.btn a{
    color: white;
    line-height: 18px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;

}
.btn:hover {
    background-position: right center;
}
/* header-end  */
/* banner start  */
.banner{
    width: 100%;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    padding-top: 175px;
    display: flex;
    justify-content: flex-end;
}
.banner__contain{
    width:88%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.banner_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top: 50px;
}
h4{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
} 
.banner_text h4{
    margin-bottom: 20px;    
}
.banner_text h1{
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}
.banner_text p{
    color: #636363;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}
.banner_text span{
    margin: 20px 0 0 0;
    color: #636363;
    font-size: 20px;
}
.banner_text span i{ 
    font-size: 24px;
    padding: 5px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
    background-size: 200%;
    color: white;
    margin-right: 10px;
}
.banner_text .btn{
    margin-top: 20px;
}
.banner_img{
    width: 50%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
    position: relative;
}   
.banner_img img{
    float: right;
    object-fit: cover;
    width: 90%;
    padding-right: 20px;
}

    

.overlay{
    width: 125%;
    position: absolute;
    top: 0;
    left: 0;
    animation: rotate 3s infinite ease-out; 
    transition: 0.4s;
}
.overlay img{
    width: 100%;
    transform: translateX(-6%);

}
/* banner end  */
/* service-start  */
.service{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg2.png);
    background-position: center;
    padding-top: 100px;
}
.service__contain{
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-center{
    text-align: center;
    margin-bottom: 40px;
}
 h2{
    color:#262626;
    font-family: "Poppins", sans-serif;
    font-size:60px;
    font-weight:800;
    line-height:72px;
}
.service_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.service_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31.5%;
    background-color: #fff;
    box-shadow: 0px 0px 30px 5px rgba(136, 136, 136,0.3);
    border : 5px ;
    padding: 50px 0;
    border-radius: 10px;
    transition: 1s;
}
.service_item:hover{
    transform: translateY(-4%);
}
.service_item img{
    width: 60%;
    object-fit: cover;
}
.service_item h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    font-family: "Poppins", sans-serif;

}
.service_item p{
    color: #636363;
    font-size: 16px;
    line-height:1.6;
}
/* service-end  */
/* about-start  */
.about{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding:150px 0;
    background-image: url(../img/bg15.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}
.about_img{
    margin-top: 60px;
    width: 50%;
}
.about_img img{
    height: 87%;
    width: 91%;
    object-fit: cover;
    border-radius: 0px 80px 80px 0px;
}
.text-left{
    width: 48.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-left p{
    margin: 20px 0;
}
.text-left ul{
    display: inline-block;
    margin-bottom: 20px;
}
ul li {
    display: flex;
    align-items: cen;
    list-style-type: none;
    color:#636363;
    font-size:15px;
    line-height:24px;
    padding: 8px 0;
}
.text-left ul li i{
    font-size: 28px;
    color: #f55f8d;
    margin-right: 10px;
}
/* about end  */
/* echieve start  */
.echieve{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(../img/bg155.png);
    background-color: #fffbf7;
    background-size: cover;
    background-position:  center;
    padding: 70px 0;
}
.echieve__contain{
    width: 77%;
    display: flex;
    justify-content: space-around;
}
.echieve_item  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.echieve_item i{
    font-size: 45px;
    color: white;
    display: block;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    padding: 10px 14.8px;
    border-radius: 50%;
    /* margin: 0 10px; */
}
.echieve_item h1{
    font-size: 75px;
    font-weight: 800;
    color: #f55f8d;
    font-family: "Poppins", sans-serif;
    
}
.echieve_item {
    font-size: 18px;
    color: #262626;
    
    
}

/* echieve end  */
/* .feature-start  */
.feature{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/bg2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.feature__contain{
    padding-top: 150px;
    width: 88%;
    display: flex;
    justify-content: space-around;
}
.feature_content{
    width: 45%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}.feature_content_tile{
    margin-bottom: 50px;
}
.feature_content_item{
    padding: 15px 30px;
    margin-bottom: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.2);
    width: 90%;

}
.feature_content_item:hover{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: white;
}
.feature_content_item:hover i ,
.feature_content_item:hover div h4,
.feature_content_item:hover div p{
    color: white;
    
}
.item2{
    margin-left: 50px;
}
.feature_content_item i{
    width: 20%;
    color: #f55f8d;
    font-size: 80px;
}
.feature_content_item div {
    margin-left: 25px;
    width: 80%;
}
.feature_content_item div h4{
    font-size: 25px;
    color: #262626;
    font-weight: 800;
}
.feature_content_item p{
    color: #636363;
    line-height: 25.6px;
}
.feature_img{
    /* display: flex;
    justify-content: flex-start; */
    width: 55%;
    /* animation: rotate 3s infinite ease-out; 
    transition: 0.4s; */
    
}
.feature_img img{
   width: 90%;
   animation: rotate 2s infinite ; 
   transition: 0.4s;
}   
/* feature-end  */
/* project-start  */
 .project  {
   width: 100%;
     

 }
 .project__contain {
    width: 77%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .project_content{
     width: 100%;
    display: grid;
    grid-template-columns: 27.5% 27.5% 42%;
    grid-template-rows: 433px 194px 282px;  
    grid-gap: 27px 
 }
 .project_item {
     position: relative;
 }
 .project_item:first-child{
     grid-column: 1 / 3;
     grid-row: 1 / 2;
 }
 .project_item:nth-child(2){
     grid-column: 3 / 4;
     grid-row: 1 / 2;
 }
 .project_item:nth-child(3){
     grid-column: 1 / 2;
     grid-row: 2 / 3;
 }
 .project_item:nth-child(4){
     grid-column: 2 / 3;
     grid-row: 2 / 3;
 }
 .project_item:nth-child(5){
     grid-column: 3 / 4;
     grid-row: 2 / 4 ;
 }
 .project_item:last-child{
     grid-column: 1 / 3;
     grid-row: 3 / 4;
     

 }
 .project_item img {
     width: 100%;
     height:100%;
     border-radius: 15px;
     object-fit: cover;

 }
 .overlay2{
     position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
     transition: 0.9s;
     /* background: rgb(33,10,10); */
    background: linear-gradient(43deg, rgba(33,10,10,0.8631827731092436) 0%, rgba(33,29,29,0.8687850140056023) 0%, rgba(33,29,29,0) 100%, rgba(31,30,30,1) 100%);
    background-position: bottom left;
     opacity:1;
     
 }
 .project_item:hover .overlay2{
     opacity: 1;
     /* background: rgb(33,10,10); */
    /* background: linear-gradient(-43deg, rgba(33,10,10,0.8631827731092436) 0%, rgba(33,29,29,0.8687850140056023) 0%, rgba(33,29,29,0) 100%, rgba(31,30,30,1) 100%); */
    overflow: hidden;
 }
 .project_item:hover .overlay2 a{
     cursor: pointer;
 }
 .project_item:hover .overlay2 a{
     transform: translate(0,0);
 }
 .overlay2  a i {
    font-size: 28px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
 }
 .overlay2 a{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateZ(-60%);
    margin: 15px;
    transition: 2s;
 }
 .overlay2 div{
     position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        margin: 30px;
 }
 .overlay2 div p {
    color: #fff;
    margin-bottom: 0;
    opacity: 0.7;
 }
 .overlay2 div h3{
    font-size: 22px;
    font-weight: 800;
 }
/* project-end  */
/* plan-start  */
.plan{
    width: 100%; 
    display: flex;
    justify-content: center;
    margin: 100px 0;
}
.plan__contain  {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan_tile{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plan_tile div{
    padding: 18px 5px;
    width: max-content;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 10px;
    margin: 40px 0;
}
.plan_tile div a{
    line-height: 20px;
    text-decoration: none;
    padding:  15px 30px;
    /* background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%); */

}
.plan_tile a:first-child{
    border-radius: 8px ;
    background-color: #fff;
    color: black;
}
.plan_tile a:last-child{
   color: black;

}
.plan_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.plan_item{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 31%;
    font-family: "Poppins", sans-serif;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 30px 5px rgba(136, 136, 136,0.3);
    padding: 35px 0 ;
    transition: 2s;

}
.plan_item_top{
   
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}
.plan_item_top img{
    margin-top: 30px;
    width: 125px;
    height: 125px;
    object-fit: cover;
}
.plan_item_top h3{
    font-size: 32px;
    font-weight: 700;

}
.plan_item_top h2 span:first-child,
.plan_item_top h1 span:first-child{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
.plan_item_top h2 span:last-child,
.plan_item_top h1 span:last-child{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.plan_item_bottom{
    padding-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.plan_item_bottom div:first-child{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.plan_item_bottom div:first-child span {
    padding: 5px 0 5px 40px;
    font-size: 18px;
    font-weight: 400;
    color: #262626;
    /* position: relative; */
    
}
.plan_item_bottom div:first-child span i{
    font-size: 12px;
    padding: 9px;
    background-color: aqua;
    color: #f55f8d;
    background-color: rgba(245, 95, 141 ,0.4);
    border-radius: 50%;
    margin-right:10px ;
}
.plan_item_bottom .btn {
    margin: 0 auto;
}
.plan_item:hover{
    border-image: url(../img/br.png) 1 round;

}

/* plan-end  */
/* evaluate-start  */
 .evaluate{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/bg17.png);
    background-position: right top;
    background-size: contain;
}
.evaluate__contain{
     width: 77%;
     
 }
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 15px 0;
  }
  
  .testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: pink;
  }
  
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  
  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    padding: 50px 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial-text strong{
    font-size: 22px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;

  }
  .testimonial-text p{
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: rgba(99, 99, 99, 0.8);
    line-height: 30px;
  }
  .testimonial-text span{
      color: #f55f8d;
  }
  .testimonial-name{
      font-size:22px ;
      font-weight: 800;
  }
  /* evaluate-end  */
  /* news-start  */
  .news__contain{
      width: 77%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* transition: ; */
  }
  
  .news_content {
      width: 100%;
      display: flex;
      justify-content: space-around;
  }
  .news_item{
      /* width: 32%; */
      background-color: rgba(245, 95, 140, 0.103);
      border-radius: 15px;
  }
  .news_item img{
      width: 100%;
      height: 214px;
      object-fit: cover;
      border-radius: 15px;
  }
  .news_item span:first-child{
      color: white;
      font-size: 14px;
      font-weight: 400;
      padding: 8px 20px ;
      background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
      position: absolute;
        top: -5%;
      z-index: 2;
      border-radius: 5px;

  }
  .news_item div{
      position: relative;
      padding:0 20px;
      padding:0 30px 10px;
  }
  .news_item div h3{
      font-size: 25px;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      padding-top: 20px;
      transition: 0.3s;

  }
  .news_item div h3:hover{
    color: #f55f8d;


  }
  .news_item p{
      color: #636363;
      line-height: 25px;
      padding: 20px 0;
      border-bottom: 1px solid rgba(99, 99, 99, 0.37);
  }
  .news_item div div{
      padding-top: 20px;

  }
  .news_item div div a{
    text-decoration: none;
    color:#636363;
  }
  .news_item div div a i ,
  .news_item div div a span{
      color: #f55f8d;
    

  }
  
  /* news-end  */
/* logo-start  */
.logo{
    margin: 100px 0;
}
.logo__contain{
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo_item{
    width: 15%;
    height: 100px;
    border-radius: 10px;
}
.logo_item img{
    padding: 20px 0px;
    display: block;
    width: 60%;
    margin: 0 auto;
    height: 100%;
    object-fit:contain;
}
.logo_item:hover{
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-position: le;

    cursor:grabbing;
}
.logo_item:hover img{
    color: #fff;

}
/* logo-end  */

   /* height: auto; */
   /* object-fit: cover; */
   /* padding-right: 20px;
} */
/* animate */
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  @keyframes rotate{
      
      
      50%{
        transform: rotate(2deg);

      }
      51%{
        transform: rotate(-2deg);

      }
      100%{
        transform: rotate(0deg);
      }
      
  }
  
/* animate  */
