*{
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

/* header-start  */
.header{
    display: flex;
    justify-content: center; 
    position: fixed;
        width: 100%;  
        top: 0;
    z-index: 1;
}
.header__contain{
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_nav {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.header_nav ul li{
    display: inline-block;
    padding: 55px 15px ;
    transition: 0.3s;

}
.header_nav li a {
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: 600;   
}
.header_nav li:hover a span {
   animation-name: upToDown;
   animation-duration: 0.3s;
   color: #f55f8d;
}
span{
    display: inline-block;
}
.header_nav li a i{
    font-size: 9px;
}
.btn a{
    font-size: 15px;
    font-weight: 500;
    padding: 20px 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    line-height: 18px;
    text-decoration: none;
    color: white;
    background-position: center;
    border-radius: 30px;
    border-width: 1px;
}
.btn:hover a{
    background-position: ;
}
/* header-end  */
/* animate  */
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }
/* animate  */
